<div class="topic-notes" >
    <div class="box-event">
        <ul>
            <li>
                <a href="#">Event - Sự kiện</a>
            </li>

            <li>
                <a href="#">Equate - àm cân bằng, san bằng</a>
            </li>

            <li>
                <a href="#">Even - ngay cả, ngay, lại còn; bằng phẳng, điềm đạm, ngang bằng</a>
            </li>

            <li>
                <a href="#">Gather - tập hợp; hái, lượm, thu thập</a>
            </li>

            <li>
                <a href="#">His - của nó, của hắn, của ông ấy, của anh ấy; cái của nó, cái của hắn, cái
                    của ông ấy, cái của anh ấy</a>
            </li>

            <li>
                <a href="#">History - lịch sử, sử học</a>
            </li>

            <li>
                <a href="#">Event - Sự kiện</a>
            </li>
        </ul>
    </div>

    <div class="option-text">
        <button class="btn option-active">
            <img src="../../../assets/images/icon-option-work.svg" alt="Words">
            Words
        </button>

        <button class="btn">
            <img src="../../../assets/images/icon-optoin-notes.svg" alt="notes">
            Notes
        </button>
    </div>
</div>