<div class="show-lesson" >

    <!-- List-overall -->
    <div class="group-overall">
        <div class="part-lesson style-lesson">
            <div class="part-lesson-item style-lesson">
                <div class="vocal">
                    <img src="../../../assets/images/vocabulary-lesson.svg" alt="vocabulary">
                    <span>Bb</span>
                </div>
                <div class="des-part-lesson style-lesson">
                    <h6>Vocabulary</h6>
                    <p>Oh no , try again ?</p>
                </div>
            </div>
            <div class="part-lesson-timeline">
                <img src="../../../assets/images/time-lesson.svg" alt="time-line-lesson">
            </div>
        </div>

        <div class="part-lesson style-lesson">
            <div class="part-lesson-item style-lesson">
                <img src="../../../assets/images/writing-lesson.svg" alt="vocabulary">
                <div class="des-part-lesson style-lesson">
                    <h6>Writing</h6>
                    <p>Oh no , try again ?</p>
                </div>
            </div>
            <div class="part-lesson-timeline">
                <img src="../../../assets/images/time-lesson.svg" alt="time-line-lesson">
            </div>
        </div>

        <div class="part-lesson style-lesson">
            <div class="part-lesson-item style-lesson">
                <img src="../../../assets/images/speaking-lesson.svg" alt="vocabulary">
                <div class="des-part-lesson style-lesson">
                    <h6>Speaking</h6>
                    <p>Oh no , try again ?</p>
                </div>
            </div>
            <div class="part-lesson-timeline">
                <img src="../../../assets/images/time-lesson.svg" alt="time-line-lesson">
            </div>
        </div>


        <div class="part-lesson style-lesson">
            <div class="part-lesson-item style-lesson">
                <img src="../../../assets/images/Gramma-lesson.svg" alt="vocabulary">
                <div class="des-part-lesson style-lesson">
                    <h6>Grammar</h6>
                    <p>Oh no , try again ?</p>
                </div>
            </div>
            <div class="part-lesson-timeline">
                <img src="../../../assets/images/time-lesson.svg" alt="time-line-lesson">
            </div>
        </div>


        <div class="part-lesson style-lesson">
            <div class="part-lesson-item style-lesson">
                <img src="../../../assets/images/lestening-lesson.svg" alt="vocabulary">
                <div class="des-part-lesson style-lesson">
                    <h6>Listening</h6>
                    <p>Oh no , try again ?</p>
                </div>
            </div>
            <div class="part-lesson-timeline">
                <img src="../../../assets/images/time-lesson.svg" alt="time-line-lesson">
            </div>
        </div>


        <div class="part-lesson style-lesson">
            <div class="part-lesson-item style-lesson">
                <img src="../../../assets/images/reading-lesson.svg" alt="vocabulary">
                <div class="des-part-lesson style-lesson">
                    <h6>Reading</h6>
                    <p>Oh no , try again ?</p>
                </div>
            </div>
            <div class="part-lesson-timeline">
                <img src="../../../assets/images/time-lesson.svg" alt="time-line-lesson">
            </div>
        </div>
    </div>

    <div class="overall-part-lesson">
        <div class="img-overall">
            <img src="../../../assets/images/overall-lesson-core.svg" alt="overall-lesson-core" />
            <p>Overall <br> Lesson score </p>
        </div>
        <div class="start-overall">

            <a href="./level-unit.html">Start</a>
        </div>
    </div>
</div>
