<div class="side-bar">
    <div class="logo-nav">
        <img class="logo-img" src="../../../assets/images/Layer_x0020_1.svg">
    </div>
    <div class="route-page">
        <ul>    
            <li class="page-nav" 
                [routerLinkActive] = "'page-book'" 
                [routerLinkActiveOptions] = "{exact: true}">
                <a routerLink="">
                    <img class="page-noactive" src="../../../assets/images/Home.svg" alt="img-page">
                    <img class="page-active"  src="../../../assets/images/Home (1).svg" alt="img-page-active">
                </a>
            </li>
            <li class="page-nav" [routerLinkActive] = "'page-book'">
                <a routerLink="learn">
                    <img class="page-noactive" src="../../../assets/images/noti-book-nomal.svg" alt="img-page">
                    <img class="page-active" src="../../../assets/images/noti-book-active.svg" alt="img-page">
                
                </a>
            </li>
            <li class="page-nav" [routerLinkActive] = "'page-book'">
                <a routerLink="conment">
                    <img src="../../../assets/images/Vector (3).svg" alt="img-page">
                    
                </a>
            </li>
            <li class="page-nav" [routerLinkActive] = "'page-book'">
                <a routerLink="start">
                    <img src="../../../assets/images/Frame 7.svg" alt="img-page">
                
                </a>
            </li>
            <li class="page-nav" [routerLinkActive] = "'page-book'">
                <a routerlink="start">
                    <img src="../../../assets/images/Frame 6.svg" alt="img-page">
                
                </a>
            </li>
        </ul>
    </div>

    <div class="nav-bar">
        <img src="../../../assets/images/next-page.svg" alt="doubleleft">
    </div>
</div>