<div class="extra-practice" id="scroll-view-part" >
    <div class="extra-writing">
        <h3 class="extra-title">Your current
            <span class="style-extra-writing">Writing</span>
            skill is
            <span class="style-extra-cri-low">critically low</span>
        </h3>
        <div class="extra-head-box">
            <div class="extra-suggest-active">
                <img src="../../../assets/images/extra-icon-i.svg" alt="extra-icon">
                <div class="success-description">
                    <h6>
                        Here are some of our suggested practice activities for you to improve your skill
                    </h6>
                    <p>
                        Start your practice now by choosing
                        <span>1</span>
                        of the
                        <span>3</span>
                        suggested activities
                    </p>
                </div>

            </div>
        </div>
        <div class="extra-course extra-style">
            <div class="extra-done-part">
                <img src="../../../assets/images/extra-process.svg" alt="extra-process">
            </div>
            <div class="extra-option-course">
                <div class="option-course extra-style option-course-active">
                    <img src="../../../assets/images/extra-book.svg" alt="extra-book">

                    <div class="extra-description-course">
                        <h6>Book</h6>
                        <p>Tequila Mockingbird</p>
                    </div>
                </div>

                <div class="option-course extra-style">
                    <img src="../../../assets/images/extra-video.svg" alt="extra-book">

                    <div class="extra-description-course">
                        <h6>Video</h6>
                        <p>Improve your cohesion and coherence</p>
                    </div>
                </div>


                <div class="option-course extra-style">
                    <img src="../../../assets/images/extra-test.svg" alt="extra-book">

                    <div class="extra-description-course">
                        <h6>Mock test</h6>
                        <p>IELTS Mock Exam No. 2</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="extra-writing">
        <h3 class="extra-title">Your current
            <span class="style-extra-dblue">Speaking</span>
            skill is
            <span class="style-extra-yellow">average</span>
        </h3>
        <div class="extra-head-box">
            <div class="extra-suggest-active">
                <img src="../../../assets/images/extra-icon-i.svg" alt="extra-icon">
                <div class="success-description">
                    <h6>
                        Here are some of our suggested practice activities for you to improve your skill
                    </h6>
                    <p>
                        Start your practice now by choosing
                        <span>1</span>
                        of the
                        <span>3</span>
                        suggested activities
                    </p>
                </div>

            </div>
        </div>
        <div class="extra-course extra-style">
            <div class="extra-done-part">
                <img src="../../../assets/images/extra-process-1.svg" alt="extra-process">
            </div>
            <div class="extra-option-course">
                <div class="option-course extra-style option-course-active">
                    <img src="../../../assets/images/extra-book.svg" alt="extra-book">

                    <div class="extra-description-course">
                        <h6>Book</h6>
                        <p>Tequila Mockingbird</p>
                    </div>
                </div>

                <div class="option-course extra-style">
                    <img src="../../../assets/images/extra-video.svg" alt="extra-book">

                    <div class="extra-description-course">
                        <h6>Video</h6>
                        <p>Improve your cohesion and coherence</p>
                    </div>
                </div>


                <div class="option-course extra-style">
                    <img src="../../../assets/images/extra-test.svg" alt="extra-book">

                    <div class="extra-description-course">
                        <h6>Mock test</h6>
                        <p>IELTS Mock Exam No. 2</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="extra-writing">
        <h3 class="extra-title">Your current
            <span class="style-extra-yellow">Grammar</span>
            skill is
            <span class="style-extra-yellow">still improve</span>
        </h3>
        <div class="extra-head-box">
            <div class="extra-suggest-active">
                <img src="../../../assets/images/extra-icon-i.svg" alt="extra-icon">
                <div class="success-description">
                    <h6>
                        Here are some of our suggested practice activities for you to improve your skill
                    </h6>
                    <p>
                        Start your practice now by choosing
                        <span>1</span>
                        of the
                        <span>3</span>
                        suggested activities
                    </p>
                </div>

            </div>
        </div>
        <div class="extra-course extra-style">
            <div class="extra-done-part">
                <img src="../../../assets/images/extra-process-2.svg" alt="extra-process">
            </div>
            <div class="extra-option-course">
                <div class="option-course extra-style option-course-active">
                    <img src="../../../assets/images/extra-book.svg" alt="extra-book">

                    <div class="extra-description-course">
                        <h6>Book</h6>
                        <p>Tequila Mockingbird</p>
                    </div>
                </div>

                <div class="option-course extra-style">
                    <img src="../../../assets/images/extra-video.svg" alt="extra-book">

                    <div class="extra-description-course">
                        <h6>Video</h6>
                        <p>Improve your cohesion and coherence</p>
                    </div>
                </div>


                <div class="option-course extra-style">
                    <img src="../../../assets/images/extra-test.svg" alt="extra-book">

                    <div class="extra-description-course">
                        <h6>Mock test</h6>
                        <p>IELTS Mock Exam No. 2</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
