<div class="title-lesstion">
    <div class="change-question">
        <img src="../../../assets/images/left-next.svg" alt="left-next">
    </div>
    <div class="card-title-head">
        <h1 class="title">Lesson 2</h1>
        <h5 class="sup-title">Tên chủ đề của unit 2</h5>
        <p class="completcheck">
            <img src="../../../assets/images/Unlock.svg" alt="unlock-check">
            <span class="check">
                Completed
            </span>
        </p>

    </div>
    <div class="change-question">
        <img src="../../../assets/images/right-next.svg" alt="right-next">
    </div>
</div>

<div class="show-content">

    <!-- page  lesson-->
   <ng-container class="" *ngIf="selectedList === 1">
    <app-lesson ></app-lesson>
   </ng-container>

    <!-- page-home-work -->

    <ng-container class="" *ngIf="selectedList === 2">
        <app-home-work></app-home-work>
    </ng-container>

    <!-- page-note -->

   <ng-container *ngIf="selectedList === 3">
    <app-note></app-note>
   </ng-container>

    <!-- page extra-practive-->

   <ng-container *ngIf="selectedList === 4">
    <app-extra-practive></app-extra-practive>
   </ng-container>

    <!-- page forRum -->
    <ng-container *ngIf="selectedList === 5">
       <app-classfo-rum></app-classfo-rum>
    </ng-container>

    <!-- navigation -->
    <div class="navigation">
        <div class="navi style-grid" *ngFor="let navi of navigations"
            [ngClass]="{'navi-lesstion': selectedList === navi.productId}" (click)="learnPage(navi.productId)">
            <div class="image-change">
                <img src={{navi.productImg}} alt={{navi.productImgactive}} class="learn-nomal"
                    [ngClass]="{'iteam-nomal': selectedList === navi.productId}" />
                <img src={{navi.productImgactive}} alt={{navi.productImgactive}} class="learn-noactive"
                    [ngClass]="{'iteam-active': selectedList === navi.productId}">
            </div>
            <p [ngClass]="{'title-active': selectedList === navi.productId}">
                {{navi.productTitle}}
            </p>
        </div>


    </div>


</div>