* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #0b1f36;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 1024px;
  max-width: 1024px;
  font-family: "Libre Franklin", sans-serif;
  margin: 0 auto;
}
.module-box {
  display: none;
}
.notify-unactive {
  display: none;
}
#overlay-box {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer;
  transition: all 0.4s ease-in-out 0s;
}
.root {
  display: grid;
  grid-template-columns: 100px auto;
  column-gap: 33px;
  background-image: url(../assets/images/background-head.svg);
  height: 768px;
  // url(../assets/imgages/background-head.svg)
}
