<div class="show-content">
    <div class="group-box">
        <div class="form forrum-box">
            <div class="box-content forum">
                <div class="title style-grid">
                    <img src="../../../assets/images/icon-online.svg" alt="online" class="">
                    <h5>Class Forum Prompt:</h5>
                </div>
                <div class="forrum-content">
                    <h6>Let’s practice your “beat-boxing”!
                    </h6>
                    <p>This week, your forum assignment is to post a video response of your speaking to one
                        of
                        the
                        two prompts below. Be sure to practice before recording and pay special attention to
                        your
                        verbs and "beat-boxing" ending sounds as you speak. You should be using a lot of
                        past
                        tense
                        verbs in your talk! ending sounds as you speak. You should be using a lot of past
                        tense
                        verbs in your talk!
                    </p>

                </div>

                <div class="group-card">
                    <div class="cart-img">
                        <img src="../../../assets/images/talk-1.svg" alt="talk 1">
                        <span>1.) Talk about a time you felt embarrassed</span>
                    </div>

                    <div class="cart-img">
                        <img src="../../../assets/images/des-1.svg" alt="talk 1">
                        <span>2.) Describe a time you helped someone.</span>
                    </div>

                    <div class="cart-img">
                        <img src="../../../assets/images/talk-2.svg" alt="talk 1">
                        <span>3.) Talk about a wrong decision you regret making.</span>
                    </div>

                    <div class="cart-img">
                        <img src="../../../assets/images/des-2.svg" alt="talk 1">
                        <span>4.) Describe a time you did something healthy.</span>
                    </div>
                </div>

            </div>
            <div class="congatulation">
                <p>Congratulations, you have completed the assignment 🎉</p>
            </div>
        </div>

        <div class="submit-tion">
            <div class="title style-grid">
                <img src="../../../assets/images//icon-online.svg" alt="online" class="">
                <h5>Your submission:</h5>
            </div>

            <div class="form submit-box">
                <div class="info-user">
                    <img src="../../../assets/images/icon-user.svg" alt="">
                    <div class="des-info">
                        <h6>Tên Tài Khoản</h6>
                        <span>Uploaded: 16:20 - 06/09/2021</span>

                    </div>
                </div>
                <div class="sub-text">
                    <p>3 giờ sáng ngày hôm đấy, tôi và người vợ sắp cưới đi lang thang trên phố sau bữa tiệc
                        tàn ở quán bar mà cô ấy làm việc. Thường thì sau những buổi nhậu nhẹt thâu đêm, cô
                        gái làm tôi luôn say đắm sẽ dắt tôi qua những góc nhỏ của phố cổ Hà Nội. Tôi gặp Thu
                        vào cuối mùa Hạ năm ngoài tại quán bar mà cô ấy đang làm bartender...View more
                    </p>
                    <span></span>
                </div>
                <div class="group-comment">
                    <div class="length-comment style-com">
                        <p class="show-start">
                            <img src="../../../assets/images/start-yellow.svg" alt="start-yellow">
                            <span>2.8k</span>
                        </p>

                        <p><span>834</span> comments</p>
                    </div>

                    <div class="derection style-com">
                        <div class="group-start-comment style-com">
                            <div class="start-favorit">
                                <img src="../../../assets/images/start-or.svg" alt="start-numbers">
                                <span>Favorite</span>
                            </div>

                            <div class="start-favorit">
                                <img src="../../../assets/images/comment-des.svg" alt="start-numbers">
                                <span>Comments</span>
                            </div>
                        </div>
                        <div class="show-comment">
                            <img src="../../../assets/images/show-comment.svg" alt="show-comments">
                        </div>
                    </div>

                    <div class="info-comments style-com">
                        <div class="comment">
                            <input type="text" name="" id="" placeholder="Write a comment...">
                        </div>
                        <div class="option-comments style-com">
                            <div class="icon-option-com">
                                <img src="../../../assets/images/comment-icons.svg" alt="comment-des" />

                            </div>

                            <div class="icon-option-com">
                                <img src="../../../assets/images/comment-avatar.svg" alt="comment-des" />

                            </div>

                            <div class="icon-option-com">
                                <img src="../../../assets/images/gif-des (2).svg" alt="comment-des" />

                            </div>
                        </div>

                    </div>

                    <div class="show-group-comments ">
                        <div class="card-user-comments">
                            <div class="info-user-comments">
                                <div class="img-user">
                                    <img src="../../../assets/images/icon-user.svg" alt="icon-user" />
                                </div>
                                <div class="friend-comments">
                                    <div class="info-user">
                                        <p class="name-user">Tài khoản </p>
                                        <span class="description-user-comment">
                                            Nice to meet y’all! I have a link that I think it would be
                                            useful
                                        </span>

                                        <div class="start-numbers">
                                            <img src="../../../assets/images/start-yellow.svg" alt="start-yellow">
                                            <p class="count-start">86</p>
                                        </div>
                                        <div class="user-respond">
                                            <ul>
                                                <li>
                                                    <a href="#">Favorite</a>
                                                </li>
                                                <li>
                                                    <a href="#">Respond</a>
                                                </li>
                                                <li>
                                                    <a href="#">15m</a>

                                                </li>
                                            </ul>
                                        </div>

                                    </div>
                                    <div class="info-user-comments style-friend-comment">
                                        <div class="img-user">
                                            <img src="../../../assets/images/icon-user.svg" alt="icon-user" />
                                        </div>
                                        <div class="info-user">
                                            <p class="name-user">Tài khoản </p>
                                            <span class="description-user-comment">
                                                Great jobs, keep it up!
                                            </span>

                                            <div class="start-numbers">
                                                <img src="../../../assets/images/start-yellow.svg" alt="start-yellow">
                                                <p class="count-start">56</p>
                                            </div>
                                            <div class="user-respond">
                                                <ul>
                                                    <li>
                                                        <a href="#">Favorite</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Respond</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">15m</a>

                                                    </li>
                                                </ul>

                                            </div>
                                            <span class="respon">3 responses</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

                <div class="view-comments">
                    <div class="show-comment">View More Comments</div>
                    <div class="show-comment">2 over 2.290</div>

                </div>
            </div>

            <!-- Teacher-feedback -->
            <div class="teacher-feedback respone-class">
                <div class="head-teach style-feedback">
                    <div class="name-teacher">
                        <img src="../../../assets/images/logo-teacher.svg" alt="teacher-feedback">
                        <h1>Teacher Feedback :</h1>

                    </div>
                    <img src="../../../assets/images/time-line-teacher.svg" alt="time-line-teacher">
                </div>

                <div class="description-feedback style-feedback">
                    <p>Your assignment is awaiting for our teacher input. <br>
                        Please wait for some time, thank you! </p>
                </div>
            </div>

            <!-- Teacher-feedback-respone -->
            <div class="teacher-feedback">
                <div class="head-teach style-feedback">
                    <div class="name-teacher">
                        <img src="../../../assets/images/logo-teacher.svg" alt="teacher-feedback">
                        <h1>Teacher Feedback :</h1>

                    </div>
                    <div class="count-respon-teacher">
                        <img src="../../../assets/images/count-respone-teacher.svg" alt="time-line-teacher">
                        <div class="ex-respone-done">
                            <p class="res-done">8</p>

                            <p class="ressult-respone">10</p>
                        </div>
                    </div>
                </div>

                <div class="style-feedback">
                    <p class="res-exercise">Your essay is well-organized and includes strong arguments.
                        However, you often forget to conjugate verb tenses. Next time, carefully consider
                        the context of when the actions in your sentences happen and be sure to proofread
                        before you submit. Nice work!
                    </p>

                    <button class="btn-view-more">
                        View details
                        <img src="../../../assets/images/Eye.svg" alt="eye-show">
                    </button>
                </div>
            </div>

            <div class="submit-tion">
                <div class="title style-grid">
                    <img src="../../../assets/images//icon-online.svg" alt="online" class="">
                    <h5>Classmate responses:</h5>
                </div>

                <div class="form submit-box style-form-group">
                    <div class="info-user">
                        <img src="../../../assets/images/icon-user.svg" alt="">
                        <div class="des-info">
                            <h6>Tên Tài Khoản</h6>
                            <span>Uploaded: 16:20 - 06/09/2021</span>

                        </div>
                    </div>
                    <div class="sub-text">
                        <p>3 giờ sáng ngày hôm đấy, tôi và người vợ sắp cưới đi lang thang trên phố sau bữa
                            tiệc
                            tàn ở quán bar mà cô ấy làm việc. Thường thì sau những buổi nhậu nhẹt thâu đêm,
                            cô
                            gái làm tôi luôn say đắm sẽ dắt tôi qua những góc nhỏ của phố cổ Hà Nội. Tôi gặp
                            Thu
                            vào cuối mùa Hạ năm ngoài tại quán bar mà cô ấy đang làm bartender...View more
                        </p>
                        <span></span>
                    </div>
                    <div class="group-comment">
                        <div class="length-comment style-com">
                            <p class="show-start">
                                <img src="../../../assets/images/start-yellow.svg" alt="start-yellow">
                                <span>2.8k</span>
                            </p>

                            <p><span>834</span> comments</p>
                        </div>

                        <div class="style-com class-materoom">

                            <div class="icon-comment">
                                <img src="../../../assets/images/start-user-click.svg" alt="start-numbers">
                                <span>Favorite</span>
                            </div>

                            <div class="icon-comment">
                                <img src="../../../assets/images/comment-des.svg" alt="start-numbers">
                                <span>Comments</span>
                            </div>

                            <div class="show-comment icon-comment">
                                <img src="../../../assets/images/flag.svg" alt="show-comments">
                                <span>Flag</span>
                            </div>

                            <div class="icon-comment">
                                <img src="../../../assets/images/show-comment.svg" alt="start-numbers">

                            </div>



                        </div>
                    </div>


                </div>
            </div>

        </div>

        <div class="cls-responses row-box-content">
            <div class="title style-grid">
                <img src="../../../assets/images//icon-online.svg" alt="online" class="">
                <h5>Classmate responses:</h5>
            </div>
            <div class="unloock-classmate">
                <img src="../../../assets/images/ic-key-class-mate.svg" alt="class-mate">

                <div class="sub-unloock">
                    <p>You’d need to submit your assignment before viewing <br> your classmates’ works</p>
                </div>
            </div>
        </div>


        <div class="upgrade row-box-content">

            <div class="upgrande-message">
                <p>
                    Upgrade your membership in order to receive feedback from the teachers
                </p>
            </div>

            <button class="btn-upgrand">
                Upgrand now
            </button>
        </div>

        <div class="show-view-more">
            <p>View more responses</p>
            <img src="../../../assets/images/show-view-more.svg" alt="">
        </div>
    </div>

    


</div>