<div class="group-unit">
    <div class="title-unit">
        <img src="../../../assets/images/note-todo-list.svg" alt="active-unit">
        <p>
            <span>
                Unit 2:
            </span>
            Tiêu đề Unit
        </p>
    </div>

    <div class="content-unit">
        <div class="level-lesson" id="content-unit">
            <div class="item-level">
                <div class="check-lesson">
                    <img src="../../../assets/images/lesson-done.svg" alt="">
                </div>
                <div class="name-level">
                    lesson-1
                </div>
            </div>

            <div class="item-level level-pedding">
                <div class="check-lesson">
                    <img src="../../../assets/images/lesson-pedding.svg" alt="">
                </div>
                <div class="name-level">
                    lesson-1
                </div>
            </div>


            <div class="item-level">
                <div class="check-lesson">
                    <img src="../../../assets/images/lesson-nodone.svg" alt="">
                </div>
                <div class="name-level">
                    lesson-1
                </div>
            </div>



            <div class="item-level">
                <div class="check-lesson">
                    <img src="../../../assets/images/lesson-nodone.svg" alt="">
                </div>
                <div class="name-level">
                    lesson-1
                </div>
            </div>


            <div class="item-level">
                <div class="check-lesson">
                    <img src="../../../assets/images/lesson-nodone.svg" alt="">
                </div>
                <div class="name-level">
                    lesson-1
                </div>
            </div>


            <div class="item-level">
                <div class="check-lesson">
                    <img src="../../../assets/images/lesson-nodone.svg" alt="">
                </div>
                <div class="name-level">
                    lesson-1
                </div>
            </div>

            <div class="item-level">
                <div class="check-lesson">
                    <img src="../../../assets/images/lesson-nodone.svg" alt="">
                </div>
                <div class="name-level">
                    lesson-1
                </div>
            </div>


            <div class="item-level">
                <div class="check-lesson">
                    <img src="../../../assets/images/lesson-nodone.svg" alt="">
                </div>
                <div class="name-level">
                    lesson-1
                </div>
            </div>



            <div class="item-level">
                <div class="check-lesson">
                    <img src="../../../assets/images/lesson-nodone.svg" alt="">
                </div>
                <div class="name-level">
                    lesson-1
                </div>
            </div>


            <div class="item-level">
                <div class="check-lesson">
                    <img src="../../../assets/images/lesson-nodone.svg" alt="">
                </div>
                <div class="name-level">
                    lesson-1
                </div>
            </div>



            <div class="item-level">
                <div class="check-lesson">
                    <img src="../../../assets/images/lesson-nodone.svg" alt="">
                </div>
                <div class="name-level">
                    lesson-1
                </div>
            </div>




            <div class="item-level">
                <div class="check-lesson">
                    <img src="../../../assets/images/lesson-nodone.svg" alt="">
                </div>
                <div class="name-level">
                    lesson-1
                </div>
            </div>



            <div class="item-level">
                <div class="check-lesson">
                    <img src="../../../assets/images/lesson-nodone.svg" alt="">
                </div>
                <div class="name-level">
                    lesson-1
                </div>
            </div>

            <div class="item-level">
                <div class="check-lesson">
                    <img src="../../../assets/images/lesson-nodone.svg" alt="">
                </div>
                <div class="name-level">
                    lesson-1
                </div>
            </div>

            <div class="item-level">
                <div class="check-lesson">
                    <img src="../../../assets/images/lesson-nodone.svg" alt="">
                </div>
                <div class="name-level">
                    lesson-1
                </div>
            </div>

            <div class="item-level">
                <div class="check-lesson">
                    <img src="../../../assets/images/lesson-nodone.svg" alt="">
                </div>
                <div class="name-level">
                    lesson-1
                </div>
            </div>

            <div class="item-level">
                <div class="check-lesson">
                    <img src="../../../assets/images/lesson-nodone.svg" alt="">
                </div>
                <div class="name-level">
                    lesson-1
                </div>
            </div>
        </div>

        <div class="lesson-completion">
            <div class="format-lesson-done">
                <p class="lesson-done">75%</p>
                <p >
                    Lesson <br>
                    Completeion
                </p>
            </div>
            <svg width="300" height="300" >
                <circle cx="200" cy="150" r="69.5" id="under" />
                <circle cx="200" cy="150" r="69.5" id="reverse" />
                
                <!-- <text id="fortmat-done" cx="200" cy="150">
                   <text>75%</text>
                    <text>
                        Lessons
                    </text>
                    <text>Completion</text>
                </text> -->
            </svg>  
        </div>

        <div class="lesson-format">
            <div class="lesson-format-options">
                <div class="format-options">
                    <div class="line-check-format line-active"></div>
                    <img src="../../../assets/images/lesson-done.svg" alt="lesson-done" />
                    <p class="lesson-format-name">Video-guided Instruction</p>
                </div>

                <div class="format-options">
                    <div class="line-check-format"></div>

                    <img src="../../../assets/images/lesson-homework.svg" alt="lesson-done" />
                    <p class="lesson-format-name">
                        Lesson Homework
                    </p>
                </div>


                <div class="format-options">
                    <img src="../../../assets/images/suggest-practice.svg" alt="lesson-done" />
                    <p class="lesson-format-name">
                        Suggested Practices
                    </p>
                </div>
            </div>

            <div class="btn-lesson-continue">
                <button class="btn-continute">Continue</button>
            </div>
        </div>
    </div>
</div>