<div class="header style-grid">
  <div class="wellcome-wrap style-grid">
      <img src="../../../assets/images/Rectangle 2.svg" alt="user" />
      <div class="description-user">
          <h5 class="wellcome-wrap-user">Good morning</h5>
          <p class="wellcome-wrap-user-sup">Are you ready to reach for the stars?</p>
      </div>
  </div>

  <div class="notification style-grid">
      <div class="question style-alert active-nottifyactive-nottify active-nottify">
          <img src="../../../assets/images/icon-lesstion.svg" />
          <span class="count-noti">0</span>
      </div>
      <div class="coin style-alert active-nottify">
          <img src="../../../assets/images/icon-coin.svg" />
          <span class="count-noti">0</span>
      </div>
      <div class="alert-notify style-grid style-alert">
          <div class="suport active-nottify">
              <img src="../../../assets/images/icon-support.svg" />

          </div>

          <div class="notify ">
              <div class="notify-nav active-nottify ">
                  <img src="../../../assets/images/icon-notification.svg" />
                  <span class="num-notify count-noti">99</span>
              </div>

              <div class="group-notify notify-unactive">

                  <div class="top-noti-learn">
                      <img src="../../../assets/images/noti-aleart-line.svg" alt="noti-aleart-line">
                  </div>

                  <div class="box-notify" id="box-notify">
                      <div class="newest">
                          <div class="head-box style-notify">
                              <p>Newest</p>
                              <p class="view-all style-notify active-nottify  ">
                                  <img src="../../../assets/images/icon-view-all.svg" alt="view-all" />
                                  View all
                              </p>
                          </div>

                          <div class="show-newest">
                              <!-- noti-1 -->
                              <div class="show-user-noti style-show">
                                  <div class="detail-user style-show">

                                      <div class="img-newest">
                                          <img src="../../../assets/images/Userpic-1.svg" alt="userpic" class="img-user">
                                          <div class="sub-img">
                                              <img src="../../../assets/images/noti-start.svg" alt="nottistart">
                                          </div>
                                      </div>

                                      <div class="notti-user-description style-show">
                                          <p class="description-user-aleart">
                                              <span class="name-user">
                                                  Student A
                                              </span>
                                              is now available for practicing, please come by and check it
                                              out...


                                              jflksjflsjflskjfskljflskjfslkjflksflksjfklsjflksjflksjfklsdjfsdflk
                                          </p>
                                          <p class="time-noti">
                                              <span>15</span>minutes ago
                                          </p>
                                      </div>
                                  </div>
                                  <div class="show-cmt  ">
                                      <img src="../../../assets/images/show-comment.svg" alt="show-description">
                                      <div class="box-update-aleart module-box">
                                          <div class="top-leart">
                                              <img src="../../../assets/images/noti-aleart-line.svg"
                                                  alt="noti-aleart-line">
                                              <!-- <img src="./asset/noti-aleart-option.svg" alt="option-aleart" class="option-aleart"> -->
                                          </div>
                                          <div class="box-update-option">
                                              <p>Đánh dấu là đã đọc</p>
                                          </div>

                                          <div class="box-update-option active-option-aleart">
                                              <p>Xóa thông báo</p>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <!-- noti-2 books-->

                              <div class="show-user-noti style-show">
                                  <div class="detail-user style-show">
                                      <div class="img-newest">
                                          <img src="../../../assets/images/Userpic-1.svg" alt="userpic" class="img-user">
                                          <div class="sub-img noti-aleart">
                                              <img src="../../../assets/images/noti-book.svg" alt="nottistart">
                                          </div>
                                      </div>

                                      <div class="notti-user-description style-show">
                                          <p class="description-user-aleart">
                                              <span class="name-user">
                                                  Student A
                                              </span>
                                              is now available for practicing, please come by and check it
                                              out...
                                          </p>
                                          <p class="time-noti">
                                              <span>1</span>hour ago
                                          </p>
                                      </div>
                                  </div>
                                  <div class="show-cmt">
                                      <img src="../../../assets/images/show-comment.svg" alt="show-description">
                                  </div>
                              </div>

                              <!-- noti-3 comments-->
                              <div class="show-user-noti style-show">
                                  <div class="detail-user style-show">
                                      <div class="img-newest">
                                          <img src="../../../assets/images/Userpic-1.svg" alt="userpic" class="img-user">
                                          <div class="sub-img noti-aleart">
                                              <img src="../../../assets/images/noti-cmt.svg" alt="nottistart">
                                          </div>
                                      </div>

                                      <div class="notti-user-description style-show">
                                          <p class="description-user-aleart">
                                              <span class="name-user">
                                                  Student A
                                              </span>
                                              has just commented on your
                                              <span class="name-user">
                                                  Class Forum - Unit 2 writing post.

                                              </span>
                                          </p>
                                          <p class="time-noti">
                                              <span>2</span>days ago
                                          </p>
                                      </div>
                                  </div>
                                  <div class="show-cmt">
                                      <img src="../../../assets/images/show-comment.svg" alt="show-description">
                                  </div>
                              </div>


                              <div class="show-user-noti style-show">
                                  <div class="detail-user style-show">
                                      <div class="img-newest">
                                          <img src="../../../assets/images/Userpic-1.svg" alt="userpic" class="img-user">
                                          <div class="sub-img noti-aleart">
                                              <img src="../../../assets/images/noti-cmt.svg" alt="nottistart">
                                          </div>
                                      </div>

                                      <div class="notti-user-description style-show">
                                          <p class="description-user-aleart">
                                              <span class="name-user">
                                                  Student A
                                              </span>
                                              has just commented on your
                                              <span class="name-user">
                                                  Class Forum - Unit 2 writing post.

                                              </span>
                                          </p>
                                          <p class="time-noti">
                                              <span>2</span>days ago
                                          </p>
                                      </div>
                                  </div>
                                  <div class="show-cmt">
                                      <img src="../../../assets/images/show-comment.svg" alt="show-description">
                                  </div>
                              </div>


                              

                          </div>
                      </div>

                      <div class="older">
                          <div class="head-order">
                              <p>Older</p>
                          </div>

                          <div class="show-newest">
                              <!-- noti-1 -->
                              <div class="show-user-noti style-show">
                                  <div class="detail-user style-show">
                                      <div class="img-newest">
                                          <img src="../../../assets/images/Userpic-1.svg" alt="userpic" class="img-user">
                                          <div class="sub-img">
                                              <img src="../../../assets/images/noti-start.svg" alt="nottistart">
                                          </div>
                                      </div>

                                      <div class="notti-user-description style-show">
                                          <p class="description-user-aleart">
                                              <span class="name-user">
                                                  Student A
                                              </span>
                                              is now available for practicing, please come by and check it
                                              out...
                                          </p>
                                          <p class="time-noti">
                                              <span>15</span>minutes ago
                                          </p>
                                      </div>
                                  </div>
                                  <div class="show-cmt">
                                      <img src="../../../assets/images/show-comment.svg" alt="show-description">
                                  </div>
                              </div>
                              <!-- noti-2 books-->

                              <div class="show-user-noti style-show">
                                  <div class="detail-user style-show">
                                      <div class="img-newest">
                                          <img src="../../../assets/images/Userpic-1.svg" alt="userpic" class="img-user">
                                          <div class="sub-img noti-aleart">
                                              <img src="../../../assets/images/noti-book.svg" alt="nottistart">
                                          </div>
                                      </div>

                                      <div class="notti-user-description style-show">
                                          <p class="description-user-aleart">
                                              <span class="name-user">
                                                  Student A
                                              </span>
                                              is now available for practicing, please come by and check it
                                              out...
                                          </p>
                                          <p class="time-noti">
                                              <span>1</span>hour ago
                                          </p>
                                      </div>
                                  </div>
                                  <div class="show-cmt">
                                      <img src="../../../assets/images/show-comment.svg" alt="show-description">
                                  </div>
                              </div>

                              <!-- noti-3 comments-->
                              <div class="show-user-noti style-show">
                                  <div class="detail-user style-show">
                                      <div class="img-newest">
                                          <img src="../../../assets/images/Userpic-1.svg" alt="userpic" class="img-user">
                                          <div class="sub-img noti-aleart">
                                              <img src="../../../assets/images/noti-cmt.svg" alt="nottistart">
                                          </div>
                                      </div>

                                      <div class="notti-user-description style-show">
                                          <p class="description-user-aleart">
                                              <span class="name-user">
                                                  Student A
                                              </span>
                                              has just commented on your
                                              <span class="name-user">
                                                  Class Forum - Unit 2 writing post.

                                              </span>
                                          </p>
                                          <p class="time-noti">
                                              <span>2</span>days ago
                                          </p>
                                      </div>
                                  </div>
                                  <div class="show-cmt">
                                      <img src="../../../assets/images/show-comment.svg" alt="show-description">
                                  </div>
                              </div>

                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

  </div>
  <div class="description-login-user style-grid">
      <img src="../../../assets/images/icon-user.svg" alt="user" />
      <div class="des-user style-grid">
          <div class="show-des-user">
              <h5>Thành Long</h5>
              <span class="id-user">IE.202301</span>
          </div>
      </div>
      <img src="../../../assets/images/icon-show-user.svg" alt="show">
  </div>

</div>