<div class="home-work-part " id="scroll-view-part" >
    <div class="excercier-part part-style">
        <div class="content-part part-style">
            <img src="../../../assets/images/home-part.svg" alt="">
            <div class="study-part">
                <h6>
                    Grammar
                </h6>
                <p>
                    Past simple verb tense
                    & Past participle verb tense
                </p>
            </div>
        </div>

        <div class="check-stardy-part">
            <button class="btn-check-part">
                Total <br>
                Question: <br>
                30
            </button>

        </div>
    </div>
    <div class="excercier-part part-style">
        <div class="content-part part-style">
            <img src="../../../assets/images/home-vocabulary.svg" alt="">
            <div class="study-part">
                <h6>
                    Grammar
                </h6>
                <p>
                    Past simple verb tense
                    & Past participle verb tense
                </p>
            </div>
        </div>

        <div class="check-stardy-part">
            <button class="btn-check-part">
                Total <br>
                Question: <br>
                30
            </button>


        </div>
    </div>

    <div class="excercier-part part-style">
        <div class="content-part part-style">
            <img src="../../../assets/images/home-voice.svg" alt="">
            <div class="study-part">
                <h6>
                    Grammar
                </h6>
                <p>
                    Past simple verb tense
                    & Past participle verb tense
                </p>
            </div>
        </div>

        <div class="check-stardy-part">
            <button class="btn-check-part">
                Total <br>
                Question: <br>
                30
            </button>


        </div>
    </div>



    <div class="excercier-part part-style">
        <div class="content-part part-style">
            <img src="../../../assets/images/home-vocabulary.svg" alt="">
            <div class="study-part">
                <h6>
                    Grammar
                </h6>
                <p>
                    Past simple verb tense
                    & Past participle verb tense
                </p>
            </div>
        </div>

        <div class="check-stardy-part">
            <button class="btn-check-part">
                <!-- Total <br> -->
                Result: <br>
                <span>48/48</span>
            </button>

        </div>
    </div>

    <div class="respone-result">
        <button class="btn-respone">
            Respone result
        </button>
    </div>
</div>
